.feed {
    display: flex;
    flex-direction: column ;
    align-items: center;
    min-height: 100vh;
    gap: 32px;
    padding: 44px 62px;
    /*background-color: #1a1a1a;*/
}

.button {
    all: unset;
    cursor: pointer;
    border: 1px solid #959595;
    width: fit-content;
    padding: 4px 22px;
    border-radius: 4px;

}

.buttonHidden {
    all: unset;
    cursor: default;
    width: fit-content;
}